annotated-types
anyio
beautifulsoup4
certifi
cffi
charset-normalizer
colorama
cryptography
distro
googlesearch-python
greenlet
h11
httpcore
httpx
idna
jiter
openai
packaging
pdf2image
pillow
playwright
pycparser
pydantic
pydantic_core
pyee
pytesseract
python-dotenv
requests
sniffio
soupsieve
tqdm
typing-inspection
typing_extensions
urllib3
